<div class="msg-search">
    <input type="text" class="msg-search-input" placeholder="search with name">
</div>
<div class="old-msg-container">
        <div class="users active">
        <img 
            class="user-img img-fluid" 
            src="/images/i8q1U.jpg" 
            alt="profile"
        >

        <div class="user-details">
            <div class="user-name">
                Linux
            </div>
            <div class="user-msg-last">
                this is last msg..
            </div>
        </div>
    </div>
    
    <div class="users">
        <img 
            class="user-img img-fluid" 
            src="/images/github-logo.png" 
            alt="profile"
        >

        <div class="user-details">
            <div class="user-name">
                github
            </div>
            <div class="user-msg-last">
                this is last msg..
            </div>
        </div>
    </div>

    <div class="users">
        <img 
            class="user-img img-fluid" 
            src="/images/pp.jfif" 
            alt="profile"
        >

        <div class="user-details">
            <div class="user-name">
                Gaurav Chaurasia
            </div>
            <div class="user-msg-last">
                this is last msg..
            </div>
        </div>
    </div>
</div>