<div>
  <h3 class="center my-3">LogIn</h3>
  <div class="container" style="width: 50%">
    <form action="/users/login" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-success">Log In</button>
      </div>
      <div class="form-group">
        <a href="/forgot">Forgot Password</a>
      </div>
    </form>
    <hr>
    <div class="center-xy row">
      <div class="social-login-buttons">
        <a class="btn btn-link-2" href="/auth/google"> <img src="/images/google-logo.png"> Google </a>
      </div>
      <div class="social-login-buttons">
        <a class="btn btn-link-2" href="/auth/facebook"> <img src="/images/facebook-logo.png"> Facebook </a>
      </div>
      <div class="social-login-buttons">
        <a class="btn btn-link-2" href="/auth/github"> <img src="/images/github-logo.png"> Github </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script> -->
