<%- include('../partials/header') %>
<div>
  <h3 class="center my-3">SignUp</h3>
  <div class="container" style="width: 50%">
    <form action="/users/register" method="post">
      <div class="form-group row">
        <div class="col-md-6">
          <label for="firstname">Firstname</label>
          <input class="form-control" type="text" name="firstname" />
        </div>
        <div class="col-md-6">
          <label for="lastname">Lastname</label>
          <input class="form-control" type="text" name="lastname" />
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" />
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input class="form-control" type="datetime-local" name="dob" />
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender">
          <option value="MALE">MALE</option>
          <option value="FEMALE">FEMALE</option>
          <option value="TRANS">TRANS</option>
          <option value="OTHER">OTHER</option>
        </select>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-success">Sign Up</button>
      </div>
    </form>
    <hr>
    <div class="center-xy row">
      <div class="social-login-buttons">
        <a class="btn btn-link-2" href="/auth/google"> <img src="/images/google-logo.png"> Google </a>
      </div>
      <div class="social-login-buttons">
        <a class="btn btn-link-2" href="/auth/facebook"> <img src="/images/facebook-logo.png"> Facebook </a>
      </div>
      <div class="social-login-buttons">
        <a class="btn btn-link-2" href="/auth/github"> <img src="/images/github-logo.png"> Github </a>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
