<!DOCTYPE html>
<html>
<head>
	<title>DLHD</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/5506f7f00f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container">
    <ul class=navbar-nav>
      <a class="navbar-brand" href="#">DLHD</a>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Diet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Medicine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Book Appointment</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dashboad
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">
          <a class="nav-link" href="<%= ROUTES.TESTS_PATH %>">tests</a>
        </button>
        <button class="dropdown-item" type="button">
          <a class="nav-link" href="<%= ROUTES.REGISTRATION_PATH%>">Register</a>
        </button>
        <button class="dropdown-item" type="button">
          <a class="nav-link" href="<%= ROUTES.LOGIN_PATH %>">Login</a>
        </button>
        <button class="dropdown-item" type="button">
          <a class="nav-link" href="<%= ROUTES.LOGOUT_PATH %>">Logout</a>
        </button>
      </div>
    </div>
  </div>
</nav>
