
<div class="online-user-container">
        <div class="users">
        <img 
            class="user-img img-fluid" 
            src="/images/i8q1U.jpg" 
            alt="profile"
        >

        <div class="user-details">
            <div class="user-name">
                Linux
            </div>
            <div class="user-msg-last">
                this is last msg..
            </div>
            <span class="online-dot"></span>
        </div>
    </div>
    <div id="NOT-AVAILABLE-DOCTOR">
        <span>
            No doctor available online right now
        </span> 
    </div>
</div>