* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-handler {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}