* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.center {
  text-align: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-handler {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: relative !important;
  padding: 0 !important;
}
.alert {
  border-radius: 0 !important;
}

.nav {
  background-color: #252b3b;
  text-align: center;
  color: #414c69;
}

.logo {
  padding: 1px 0px !important;
  border-radius: 30px;
  color: #929292;
  text-shadow: none;
}
.logo:hover {
  transition: 0.1s;
  color: #d8d8d8;
  text-shadow: none;
}

.navi {
  position: sticky;
  top: 0px;
  z-index: 999;
}
.remove_field {
  position: relative;
  color: tomato;
}
.remove_field:hover {
  color: rgb(173, 50, 28);
}
svg {
  height: 2rem;
  width: 2rem;
  fill: #383838;
  opacity: 1;
}
svg:hover {
  fill: #55acee;
}
button {
  color: #555;
  background: none;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
}
.seperator {
  height: 40px;
  margin: 0;
}

.form-group {
    position: relative;
}

.add_genral_symptoms_button, 
.add_score_symptoms_button,
.add_score_diseases_button, 
.add_causes_button {
    position: absolute;
    top: -10px;
    right: 0;
}

.add_genral_symptoms_button:focus, 
.add_score_symptoms_button:focus,
.add_score_diseases_button:focus, 
.add_causes_button:focus {
  outline: none;
}

.add_genral_symptoms_button svg, 
.add_score_symptoms_button svg, 
.add_score_diseases_button svg, 
.add_causes_button svg {
  fill: #5cb85c;
}

.causes {
  position: absolute;
  top: -51px;
  left: 650px;
  fill: thistle;
}
.genral_symptoms {
  position: absolute;
  top: -50px;
  left: 650px;
  fill: thistle;
}
.score_symptoms {
  position: absolute;
  top: 5px;
  left: -10px;
  fill: thistle;
}

.score_symptoms:hover, 
.genral_symptoms:hover, 
.causes:hover {
    fill: rgb(194, 61, 37);
    transition: 0.2s ease-out;
}
.disease-list {
  margin: 0 auto;
}
.card {
  margin: 30px auto;
  padding: 20px 10px;
  border: none;
  /* box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08); */
}
.card:hover {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
}

#filter_input {
  margin: 0 auto;
  margin-top: 30px;
  width: 50%;
  padding: 10px 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
  /* border-left: none;
  border-right: none; */
}
#filter_input:hover {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

#filter_input:focus {
  outline: none !important;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
  width: 200px;
  transform: translateX(-100px);
}
.dropdown-item {
  padding: 10px 30px;
}


/* bootstrap dropdown animation start */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem) translateX(-100px);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem) translateX(-100px);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem) translateX(-100px);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(-100px);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem) translateX(-100px);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu { 
    display:block; 
    opacity: 0; 
    visibility: hidden; 
    transition:.3s; 
    margin-top:0; 
  }
  .navbar .dropdown-menu.fade-down { 
    top:80%; 
    transform: rotateX(-75deg); 
    transform-origin: 0% 0%; 
  }
  .navbar .dropdown-menu.fade-up { 
    top:180%; 
  }
  .navbar .nav-item:hover .dropdown-menu { 
    transition: .3s; 
    opacity:1; 
    visibility:visible; 
    top:100%; 
    transform: rotateX(0deg); 
  }
}

/* bootstrap dropdown animation end */
