<%- include('../partials/header') %>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="tales" src="https://cdn.pixabay.com/photo/2017/08/07/20/10/pills-2607338_1280.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img class="tales" src="https://cdn.pixabay.com/photo/2017/09/16/19/21/salad-2756467_1280.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img class="tales" src="https://cdn.pixabay.com/photo/2018/07/11/06/21/pulse-3530383_1280.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<div class="row">
	<div class="col m4">
		<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1550792404-f62d4ce3bb3e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Continue Prescription</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/users/login" class="btn btn-primary">Login</a>
  </div>
</div>
	</div>
	<div class="col m4">
		<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ensure Good Health</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/users/register" class="btn btn-primary">Register</a>
  </div>
</div>
	</div>
	<div class="col m4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1588615420294-4ba0fa0135f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Check Your Symptoms</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/diseases" class="btn btn-primary">Diseases</a>
  </div>
</div>
	</div>
	<div class="col m4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1563213126-a4273aed2016?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Prescription</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/medicines" class="btn btn-primary">Medicines</a>
  </div>
</div>
	</div>
</div>



<%- include('../partials/footer') %>