
<div class="container">
  <div class="row" style="margin-top: 3rem">
    <div class="col-md-6 m4">
      <div class="card">
        <!-- <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1550792404-f62d4ce3bb3e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        /> -->
        <div class="card-body">
          <h5 class="card-title">Continue Prescription</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/users/login" class="btn btn-dark">Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m4">
      <div class="card">
        <!-- <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        /> -->
        <div class="card-body">
          <h5 class="card-title">Ensure Good Health</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/users/register" class="btn btn-dark">Register</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m4">
      <div class="card">
        <!-- <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1588615420294-4ba0fa0135f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
          alt="Card image cap"
        /> -->
        <div class="card-body">
          <h5 class="card-title">Check Your Symptoms</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/diseases" class="btn btn-dark">Diseases</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m4">
      <div class="card">
        <!-- <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1563213126-a4273aed2016?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        /> -->
        <div class="card-body">
          <h5 class="card-title">Prescription</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/medicines" class="btn btn-dark">Medicines</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-section-title-wrap">
  <div class="home-section-title">
    <p class="container display-4">
      TOP DISEASES 
    </p>
  </div>
  <hr />
</div>

<div class="container center-xy" id="replace-disease">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="home-section-title-wrap">
  <div class="home-section-title">
    <p class="container display-4">
      TOP MEDICINES
    </p>
  </div>
  <hr />
</div>

<div class="container center-xy"  id="replace-medicine">
  <div class="spinner-grow text-center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
