<div class="middle-header">
    <img 
        class="user-img img-fluid" 
        src="/images/i8q1U.jpg" 
        alt="profile"
    >

    <div class="user-details">
        Linux
    </div>
</div>

<div class="middle-msg-container">
    <div class="msg-sent">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, doloremque?
    </div>
    <div class="msg-recived">
        lorem100 msg-recived
    </div>
    <div class="msg-recived">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam cupiditate vitae quod deserunt facilis enim unde adipisci consequuntur soluta maxime veniam obcaecati, inventore tenetur. Sapiente.
    </div>
    <div class="msg-sent">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, labore nulla molestias omnis sequi libero blanditiis consectetur assumenda, itaque numquam et sunt delectus incidunt nisi sapiente perferendis eligendi repellendus consequuntur ipsam. Expedita id saepe consequuntur praesentium harum laborum quaerat, soluta tempora quidem laboriosam sequi? Modi nobis est non, nulla expedita molestiae voluptatibus aspernatur soluta dolorum minus iure vitae tempore delectus. Dolorum quia ut quasi fugiat recusandae ad velit sed ex quas atque libero, porro unde quam temporibus ratione repellendus eum reprehenderit id vero. Illum veritatis ex repudiandae aspernatur aliquid ad quam, maxime ab, neque fugit provident explicabo vel libero voluptates!
    </div>
    <div class="msg-recived">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, minima? msg-recived
    </div>
</div>

<div class="middle-bottom-container" style="padding-left: 50px;">
    <textarea 
        class="msg-input col-10" 
        type="text"
        placeholder="write your msg"
        rows="3"
    ></textarea>
    <button class="col-2 msg-send-botton">
        <i 
            class="fa fa-paper-plane-o" 
            aria-hidden="true"
        ></i>
    </button>
</div>